body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form.check {
  display: inline;
}
.error {
  color: red;
  font-weight: bold;
}
/* vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: */
